<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Dao/Mapper接口-->

<mapper namespace="com.example.todolistapi.dao.TodoMapper">
    <select id="getTodoList" parameterType="int" resultType="com.example.todolistapi.entity.TodoEntity">
        select * from todolist where section_id = #{sectionID}
    </select>
    <select id="getTodoDetail" parameterType="int" resultType="com.example.todolistapi.entity.TodoEntity">
        select * from todolist where todo_id = #{todoID}
    </select>

    <insert id="insertTodo" parameterType="com.example.todolistapi.entity.TodoEntity" useGeneratedKeys="true" keyProperty="todoID">
        insert into todolist(create_time, update_time, plan_time, finish_time, content, remark, status, section_id) values(now(), now(), #{planTime}, #{finishTime}, #{content}, #{remark}, #{status}, #{sectionID})
    </insert>

    <delete id="deleteTodo" parameterType="int">
        delete from todolist where todo_id = #{todoID}
    </delete>

    <update id="todoEnd" parameterType="int">
        update todolist set finish_time = now(), `status` = 1, update_time = now() where todo_id = #{todoID}
    </update>

    <update id="todoNotEnd" parameterType="int">
        update todolist set finish_time = NULL, `status` = 0, update_time = now() where todo_id = #{todoID}
    </update>

    <update id="updateTodoInfo" parameterType="com.example.todolistapi.entity.TodoEntity">
        update todolist 
        <set>
            <if test = "content != null">
                `content` = #{content},
            </if>
            <if test = "remark != null">
                remark = #{remark},
            </if>
            <if test = "sectionID != null">
                section_id = #{sectionID},
            </if>
            <if test = "planTime != null">
                plan_time = #{planTime},
            </if>
            update_time = now() 
        </set>
        where todo_id = #{todoID}
    </update>
</mapper>